venv/
__pycache__/*.ckpt
*.ckpt
*.h5
*.pkl
*.pt
*.pth
*.ptl
*.pthl
*.pth.tar
*.pth.tar.gz
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
data/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
models/
*.pkl
*.pth
*.pt
*.ptl
*.pthl
*.pth.tar