venv/
__pycache__/*.ckpt
*.ckpt
*.h5
*.pkl
*.pt
*.pth
*.ptl
*.pthl
*.pth.tar
*.pth.tar.gz
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
models/
*.pkl
*.pth
*.pt
*.ptl
*.pthl
*.pth.tar
*.h5
*.hdf5
*.h5py
*.h5py.tar
*.h5py.tar.gz
*.h5py.tar.gz.tar
*.h5py.tar.gz.tar.gz
logs/monitor/monitor.csv
*.tar
*.tar.gz
*.tar.gz.tar
*.tar.gz.tar.gz
*.tar.gz.tar.gz.tar
*.tar.gz.tar.gz.tar.gz
*.tar.gz.tar.gz.tar.gz.tar