# Core dependencies
numpy>=1.24.0
pandas>=1.3.0
matplotlib>=3.7.0
seaborn>=0.12.0
tables>=3.7.0  # HDF5 support
scipy>=1.10.0
statsmodels>=0.13.5
mplfinance>=0.12.9b0  # For candlestick charts
pandas-ta>=0.3.14b0  # For technical analysis indicators

# Deep Learning
torch>=1.13.0
tqdm>=4.65.0

# Reinforcement Learning
gymnasium>=0.28.1
stable-baselines3>=2.0.0

# System monitoring
psutil>=5.9.0
GPUtil>=1.4.0

# Logging and visualization
tensorboard>=2.12.0

# Others
typing-extensions>=4.5.0

ccxt>=2.0.0
python-dateutil>=2.8.2